1.0/FirstFloor.ModernUI/FirstFloor.ModernUI.WPF4/obj/
1.0/FirstFloor.ModernUI/FirstFloor.ModernUI.App/obj/
1.0/FirstFloor.ModernUI/FirstFloor.ModernUI/obj/
1.0/FirstFloor.ModernUI/FirstFloor.ModernUI.App/bin/
1.0/FirstFloor.ModernUI/FirstFloor.ModernUI/bin/
1.0/FirstFloor.ModernUI/FirstFloor.ModernUI.WPF4/bin/
